<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>TP2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>fr.univtours.polytech.servlets.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supplies</display-name>
    <servlet-name>Supplies</servlet-name>
    <servlet-class>fr.univtours.polytech.servlets.Supplies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supplies</servlet-name>
    <url-pattern>/supplies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemperatureConverter</display-name>
    <servlet-name>TemperatureConverter</servlet-name>
    <servlet-class>fr.univtours.polytech.servlets.TemperatureConverter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemperatureConverter</servlet-name>
    <url-pattern>/temperature</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex4</display-name>
    <servlet-name>Ex4</servlet-name>
    <servlet-class>fr.univtours.polytech.servlets.Ex4</servlet-class>
    <init-param>
      <param-name>login</param-name>
      <param-value>Hello</param-value>
    </init-param>
    <init-param>
      <param-name>mdp</param-name>
      <param-value>hello</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex4</servlet-name>
    <url-pattern>/ex4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Calculator</display-name>
    <servlet-name>Calculator</servlet-name>
    <servlet-class>fr.univtours.polytech.servlets.Calculator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Calculator</servlet-name>
    <url-pattern>/calculator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex6</display-name>
    <servlet-name>Ex6</servlet-name>
    <servlet-class>fr.univtours.polytech.servlets.Ex6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex6</servlet-name>
    <url-pattern>/ex6</url-pattern>
  </servlet-mapping>
</web-app>